ul{
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
  }
  ul li{
  display: table-cell;
  min-width: 50px;
  }
  ul li a{
  display: block;
  width: 100%;
  padding: 10px 0;
  text-decoration: none;
  color: #ccc;
  font-weight: bold;
  }
  ul li.current{
  border: 3px solid #555;
  }
  ul li.current a{
  color: #555;
  }
  ul li a:hover{
  color: #E71B1F;
  }